/*
  Basic Reset
*/
*,
*::before,
*::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html {
  /* 
    Using rems so font size is relative to the root
    Ex. .8rem = 8px, 1rem = 10px
  */
  font-size: 8px; font-family: "Lato", Arial, sans-serif;
}

.header {
  position: relative;
  width: 100%; height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  background: linear-gradient(-225deg, rgba(34, 225, 225, .6) 0%,
  rgba(29, 143, 225, .6)48%, #625eb1 100%),
    url("https://source.unsplash.com/1920x1080/?photography") center no-repeat;
  background-size: cover;
  color: #fff;
}

.cta-textbox {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  text-align: center; text-transform: uppercase;

  overflow: hidden;
}

.header-heading {
  font-size: 3.5rem; letter-spacing: 1rem;

  margin-right: -1rem; margin-bottom: 1rem;
}

.header-sub {
  font-size: 1.6rem; letter-spacing: 1rem;

  margin-right: -1rem; margin-bottom: 5rem;
}

.cta-btn {
  display: inline-block;
  padding: 1.5rem 5rem;
  border-radius: 10rem;

  text-decoration: none; font-size: 1.6rem;

  color: #333; background-color: #fff;

  transition: .5s all;  
}
.cta-btn:hover {
  transform: translate(0, -.5rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .3);
}
.cta-btn:active { transform: translate(0); }

.checkbox { display: none; }

.nav-toggle-btn {
  position: fixed;
  top: 3rem; right: 3rem;
  width: 5rem; height: 5rem;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
  background-color: #fff;
  cursor: pointer;

  text-align: center;
}

.overlay {
  position: fixed;
  top: 3.5rem; right: 3.5rem;
  width: 4rem; height: 4rem;
  border-radius: 50%;
  z-index: 1;

  background: radial-gradient(#1d8fe1, #625eb1);
  
  transition: transform .8s cubic-bezier(.86, 0, .07, 1);
}

.main-nav {
  position: fixed;
  top: 0; left: 0;
  width: 0; height: 100vh;
  z-index: 2;
  opacity: 0;

  transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
}

.nav-list {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  list-style: none;
  text-align: center;
}

.nav-items { margin: 1rem; }

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  background-size: 220%;
  padding: 1rem 2rem;

  font-size: 2rem; font-weight: 300; 
  text-decoration: none; text-transform: uppercase;
  color: #fff;

  transition: all .4s;
}

.nav-links:hover,
.nav-links:active { 
  color: #e6e6e6; 
  transform: translate(0, -1rem);
}
.nav-links:hover::before,
.nav-links:hover::after {
  opacity: 1;
  width: 2rem;
}


.nav-links::before,
.nav-links::after {
  display: block;
  content: "";
  margin: auto;
  width: 0;
  border: 2px solid #fff;
  opacity: 0;
  z-index: -1;

  transition: all .3s ease;
}
.nav-links::before {
  top: 0;
  transform: rotate(120deg) translate(-50%, -50%);
}

.nav-links::after {
  top: 0;
  transform: rotate(-60deg) translate(-50%, -50%);
}

.checkbox:checked ~ .overlay { transform: scale(80); }
.checkbox:checked ~ .main-nav {
  opacity: 1; 
  width: 100%;
}

.nav-icon-bar {
  position: relative;
  margin-top: 2.5rem;
}

.nav-icon-bar,
.nav-icon-bar::before,
.nav-icon-bar::after {
  display: inline-block;
  width: 3rem; height: 2px;
  
  background-color: #333;
}

.nav-icon-bar::before,
.nav-icon-bar::after {
  content: " ";
  position: absolute;
  left: 0;
  transition: all .2s;
}
.nav-icon-bar::before { top: -.8rem; }
.nav-icon-bar::after { top: .8rem; }

.nav-toggle-btn:hover .nav-icon-bar::before { top: -1rem; }
.nav-toggle-btn:hover .nav-icon-bar::after { top: 1rem; }

.checkbox:checked + .nav-toggle-btn .nav-icon-bar { background-color: transparent; }

.checkbox:checked + .nav-toggle-btn .nav-icon-bar::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .nav-toggle-btn .nav-icon-bar::after {
  top: 0; 
  transform: rotate(-135deg);
}

/*
  Responsive Queries
*/
@media only screen and (min-width: 600px) {
  html { font-size: 10px; }
}

@media only screen and (min-width: 800px) {
  .nav-toggle-btn { width: 7rem; height: 7rem; }

  .overlay { width: 6rem; height: 6rem; }

  .nav-icon-bar { margin-top: 3.5rem; }

  .nav-links:link,
  .navlinks:visited {
    font-size: 3rem;
  }
}